<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead buffer-bottom">
      <%= t('errors.header', count: errors.count) %>
    </div>
    <ul>
      <% errors.each do |error| %>
          <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
